
$white-color:white;
$black-color:black;
$Red_color:#dd2831;

@mixin text($size, $weight){
  font-size:$size;
  font-weight:$weight;
}

.collection-heading{
    background-image:url(../Images/add-bg.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding:55px;
    border-radius:25px;
    margin-bottom:20px;
    h4{
        color:$black-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include text(15px ,400 );
        margin: 9px 0px;
        text-align:left;
    }
    h2{
        @include text(40px ,800 );
        color:$black-color;
        font-family:'Plus Jakarta Sans', sans-serif;
        margin: 0;
        line-height: 50px;
        text-align:left;
    }
    button{
        background-color:$black-color;
        border:none;
        outline:none;
        padding:10px 40px;
        border-radius:50px;
        margin:15px 0;
        color:$white-color;
    }
}

.other-collection{
    background-image:url(../Images/collection-bg1.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding:40px;
    border-radius:25px;
    margin-bottom:20px;
    height:450px;
    h4{
        @include text(12px ,500 );
        background-color:$Red_color;
        color:$white-color;
        width:41%;
        text-transform:uppercase;
        padding: 6px 10px;
    }
    h2{
        @include text(25px ,700 );
        color:$white-color;
        font-family:'Plus Jakarta Sans', sans-serif;
        margin: 0;
        line-height: 50px;
        text-align:left;
    }
    p{
        color:$white-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include text(15px ,400 );
        margin: 9px 0px;
        text-align:left;
    }
}
.second-other-collection{
    background-image:url(../Images/collection-bg2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.third-other-collection{
    background-image:url(../Images/collection-bg3.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    h2{
        color:$black-color;
    }
    p{
        color:$black-color;
    }
}