
$white-color:white;
$black-color:black;
$Blue-color:#0068c8;
$Red_color:#dd2831;
$green_color:#388E3C;

@mixin title($size, $weight){
  font-size:$size;
  font-weight:$weight;
}

.main-banner{
  background-color:#F6F9FF;
}
.banner-img{ 
    overflow: hidden;
    img{
      width:100%;
      height:100%;
      object-fit: cover;
    }
}
.carousel-caption {
    width:50%;
    position: absolute;
    right:0% !important;
    bottom:0px !important;
    top:0 !important;
    left:0% !important;
    color: #fff;
    text-align:left !important;
    padding:80px 0px;
}
.carousel-control-next, .carousel-control-prev {
  top: 50% !important;
  opacity:.9 !important;
  background:$Red_color !important;
  border-radius:50px !important;
  width:3% !important;
  height:33px !important;
  padding:6px !important;
}
.carousel-control-prev {
  left: -90px !important;
}
.carousel-control-next {
  right: -90px !important;
}

.banner-title{
    padding:90px 0;
    h4{
      @include title(12px ,500 );
      background-color:$Red_color;
      color:$white-color;
      width: 16%;
      padding: 6px 10px;
    }
    h2{
      @include title(40px ,800 );
      color:$black-color;
      font-family:'Plus Jakarta Sans', sans-serif;
      margin: 0;
      line-height: 50px;
    }
    p{
        color:$black-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include title(15px ,400 );
        margin: 9px 0px;
    }
    h5{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:$black-color;
        @include title(20px ,600 );
        margin:10px 0;
        span{
            color:$Blue-color;
            @include title(25px ,700 );
          }
    }
    button{
     background-color:$black-color;
     border:none;
     outline:none;
     padding:10px 40px;
     border-radius:50px;
     margin:15px 0;
     color:$white-color;
    }
}


// banner about style

.banner-about-main{
  padding:70px 0;
  .about-info-main{
      display:flex;
      align-items: center;
      justify-content: space-between;
      padding:20px;
      background-color:#EDDDCE;
      border-radius:25px;
      .about-img{
        img{
         transition:all 0.8s ease;
        }
      }
      .about-title{
        text-align: right;
        h4{
          @include title(16px , 600 );
          transition:all 0.6s ease;
          margin-bottom:10px;
          font-family:'Plus Jakarta Sans', sans-serif; 
          letter-spacing: 0.4px;
        }
        p{
          @include title(14px , 400 );
          margin-bottom:0px;
          font-family: 'Roboto', sans-serif;
        }
      }
      &:hover .about-img img{
        transform:translateY(-8px);
      }
      &:hover .about-title h4{
        color:$Blue-color;
      }
  }
  .about2{
    background-color:#DFE5F1;
    border-radius:25px;
  }
  .about3{
    background-color:#E8D2E7;
    border-radius:25px;
  }
  .about4{
    background-color:#E8E5EE;
    border-radius:25px;
  }
}

.about_offer{
  background-image:url(../Images/offer2.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  padding:50px;
  margin-top:30px;
  border-radius:25px;
  .offer-info{
    width:50%;
    h4{
      @include title(12px ,500 );
      background-color:$Red_color;
      color:$white-color;
      width:31%;
      padding: 6px 10px;
    }
    #offer1_h4{
      width:63%;
    }
    h3{
      @include title(25px ,700 );
      color:$black-color;
      font-family:'Plus Jakarta Sans', sans-serif;
      margin: 0;
      line-height:30px;
    }
    p{
        color:$black-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include title(15px ,400 );
        margin: 7px 0px;
    }
  }
}
.about_offer2{
  background-image:url(../Images/offer1.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  padding:50px;
  margin-top:30px;
  border-radius:25px;
}


//products.js style

.nav-tabs{
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-link{
      border: none !important;
      background: #1a4ce9;
      border-radius: 50px;
      padding:10px 40px;
      color:white !important;
      &.active{
        background: red !important;
        color: white !important;
        padding: 10px 30px;
        border-radius: 50px;
      }
    }
}



.Card_products{
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .card-image{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    img{
      width: 155px;
      height: 190px;
      padding:20px;
      transition:all 0.7s ease;
    }  
  }
  .card-body{
    h4{
      @include title(13px ,500 );
      color:$black-color;
      font-family: 'Roboto', sans-serif;
      margin-bottom:10px;
      transition:all 0.5s ease;
    }
    p{
      @include title(15px ,600 );
      color:$black-color;
      display:flex;
      align-items: center;
      justify-content: space-between;
      .card-btn{
         outline:none;
         border:none;
         background-color:$Blue-color;
         color:$white-color;
         padding:3px 15px;
         border-radius:20px;
         transition:all 0.5s ease;
         &:hover{
          background-color:$Red_color;
         }
      }
    }
    .rating-btn{
      outline:none;
      border:none;
      background-color:$green_color;
      color:$white-color;
      padding:8px 15px;
      border-radius:20px;
      font-size:15px;
      i{
        font-size:15px;
        margin-left:4px;
      }
    }
  }
  &:hover .card-image img{
      transform:scale(1.1);
  }
  &:hover .card-body h4{
    color:$Blue-color;
  }
}
.phonerow{
    margin-top:30px;
}